body {
    width: 100%;
    height: 100%;
    background-color: #C6D8D3;
    color: #000;
    margin: 0;
}
.main-container{
    margin: 0 auto;
    margin-top: 4.2rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000vh;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(184, 197, 214, 0.5); ;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 100;
}
.navbar-title{
    font-size: 1rem;
}   
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-right: 1rem;
}
.navbar ul li{
    display: inline-block;
    margin: 0 1rem;
    font-size: 1rem; ;
}  
.navbar ul li a {
    text-decoration: none;
    color: #000; ;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 2.4rem;
}

img {
    height: 50%;
    width: auto;
}

/* Hide the image for screens smaller than 768px */
@media (max-width: 925px) {
    img {
        display: none;
    }
    
}
@media (min-width: 1350px) {
    .home-text{
        font-size: 3.3rem !important;
    }
    
}

