html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100%;
    background-color: #c6d8d3;
    color: #000;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}
#home {
    scroll-margin-top: 4.2rem; /* Offset the scroll position by the height of the navbar */
}
.main-container{
    margin: 0 auto;
    margin-top: 4.2rem;
    padding: 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 1); ;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 100;
    height: 4.2rem; /* Set an explicit height for the navbar */
    transition: height 0.5s ease; /* Smooth transition for height */
}



.navbar.scrolled {
    height: 0; /* Gradually reduce height to 0 */
    overflow: hidden; /* Hide content when height is 0 */
}

.navbar-title{
    font-size: 1rem;
    transition: font-size 0.5s ease; /* Smooth transition for font size */
}   

.navbar-title.scrolled{
    font-size: 0; /* Hide title when scrolled */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-right: 1rem;
}
.navbar ul li{
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.3rem; ;
}  
.navbar ul li a {
    text-decoration: none;
    color: #000; ;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    font-size: 5rem;
    background-image: url("images/profile.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin-bottom: 12rem;
}
.Name{
    font-size: 13rem;
    font-family: "Birthstone", sans-serif;
    padding: 0 0;
    margin: 0 0;
}
.home-title{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-size: 4rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.dot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-top: 2rem    ;
}
.dot-container ol {
    display: flex; /* Align items in a row */
    justify-content: center; /* Center the circles */
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
}
.dot-container ol li {
    width: 20px; /* Set circle size */
    height: 20px;
    margin: 0 10px; /* Add spacing between circles */
    background-color: rgba(0, 0, 0, 0.4); /* Circle color */
    border-radius: 50%; /* Make it a circle */
}
.dot-container ol li.active {
    background-color: #000; /* Active circle color */
}
.home-text{
    text-align: center;
    color: #39272c;
    font-size: 2rem;
    width: 95%;
    margin: 0 0 ;
}
.about, .Trabalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    padding: 2vh;
    margin: 1rem;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 2.4rem;
}
.about-hr, .trabalho-hr{
    width: 90%;
    height: 0.2rem;
    background-color: #000;
}
.about-title, .Trabalho-title{
    font-size: 4rem;
}
.about-content, .Trabalho-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.about-text, .Trabalho-text{
    padding-left: 1rem;
    text-align: justify;
    padding-right: 1rem;
}
.home_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about_image, .Trabalho_image{
    height: auto;
    width: 40%;
    object-fit: cover;
    border-radius: 30px;
}

.card-widget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 2.4rem;
}

.card-container{
    display: flex;
    width: 100%;
    flex-direction: row; /* Arrange cards horizontally */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Snap to cards when scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer */
}

.card-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

.card1 {
    display: flex; /* Initially hidden */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: rgba(0, 0, 0, 0.4) solid 0.2rem;
    scroll-snap-align: center; /* Ensure cards snap to the center */
    flex: 0 0 95%; /* Each card takes full width of the container */
    margin: 0 1rem; /* Add spacing between cards */
}

.card1.active {
    display: flex; /* Show when active */
}

.card1-title, .card2-title{
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
}

.card1-text, .card2-text{
    padding-left: 1rem;
    text-align: justify;
    padding-right: 1rem;
    font-size: 1.5rem;
}

.card1_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.card2 {
    display: flex; /* Initially hidden */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: rgba(0, 0, 0, 0.4) solid 0.2rem;
    scroll-snap-align: center; /* Ensure cards snap to the center */
    flex: 0 0 95%; /* Each card takes full width of the container */
    margin: 0 1rem; /* Add spacing between cards */
}

.card2.active {
    display: flex; /* Show when active */
}


.card2_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.achievement-section-holder{
    display: flex;
    width: 100%;
    flex-direction: row; /* Arrange cards horizontally */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Snap to cards when scrolling */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer */
}

.achievement-section-holder::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

.achievement-section-dot-container ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-bottom: 1rem;
    padding: 0;
}

.achievement-section-dot-container ol li {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background-color: rgba(54, 34, 48, 0.2);
    border-radius: 50%;
}
.achievement-section-dot-container ol li.active {
    background-color: rgba(0, 0, 0, 0.7);
}

.achievement-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
    font-size: 2.4rem;
    background-color: #A657AE;
}

.achievement1-title, .achievement2-title, .achievement3-title, .achievement4-title{
    font-size: 1.2rem;
    margin: 0 1rem;
    padding: 0;
    text-align: center;
}

.achievement1, .achievement2, .achievement3, .achievement4{
    display: flex; /* Initially hidden */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    border-radius: 1rem;
    font-size: 1.3rem;
    scroll-snap-align: center; /* Ensure cards snap to the center */
    flex: 0 0 95%; /* Each card takes full width of the container */
    margin: 0 1rem; 
}

.achievement1-text, .achievement2-text, .achievement3-text, .achievement4-text{
    text-align: justify;
    font-size: 1.3rem;
    padding: 0;
    margin: 0 1rem;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact-title{
    font-size: 1rem;
    padding: 0;
    text-align: center;
}

.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    padding: 0;
}

.email-label{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 85%;
    text-align: left;
    margin-bottom: 1rem ;
}

.name-label{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 85%;
    text-align: left;
    margin-bottom: 1rem ;
}

.message-label{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 85%;
    height: 20vh;
    text-align: left;
    margin-bottom: 1rem ;
}

input{
    width: 95%;
    margin-top: 1vh;
    border: rgba(0, 0, 0, 0.4) solid 0.2rem;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1vh 0;
    padding-left: 1vh;
    font-family: "Space Grotesk", sans-serif;
}

textarea{
    margin-top: 1vh;
    padding-top: 1.5vh;
    width: 95%;
    border: rgba(0, 0, 0, 0.4) solid 0.2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    resize: none; /* Disable resizing */
    font-family: "Space Grotesk", sans-serif;
}

input:focus::placeholder, 
textarea:focus::placeholder {
    color: transparent; /* Hide the placeholder text */
}

button{
    width: 50%;
    margin-top: 1vh;
    border: rgba(0, 0, 0, 0.4) solid 0.2rem;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1vh 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2vh;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    text-align: center;
}

.footer{
    margin-top: 10vh;
    width: 100%;
    background-color: rgba(237,212,178,0.8);
}

/* Adjust layout for phone mode */
@media (max-width: 925px) {
    .about-content, .Trabalho-content{
        flex-direction: column;
        align-self: center;
    }
    .about_image, .Trabalho_image{
        width: 100% !important;
        height: auto;
    }
    .Trabalho_image {
        order: -1; /* Move the image to the top */
    }
}
@media (max-width: 520px){
    .navbar ul{
        display: none;

    }
    .home-title{
        font-size: 1.3rem !important;
    }
    .about, .Trabalho{
        width: 90%;
    }
    .about-text, .Trabalho-text,.home-text{ 
        font-size: 1.5rem !important;
    }
    .home-text{
        font-size: 0.9rem !important;
    }
    .about-title, .Trabalho-title{
        font-size: 1.8rem !important;
    }
}
@media(max-width:1200px){
    .about_image, .Trabalho_image{
        width: 30%;
    }
    .Name{
        font-size: 5rem;
    }
}

@media (max-width: 1350px) {
    .about-text, .Trabalho-text{ 
        font-size: 2rem;
    }
    .about-title, .Trabalho-title{
        font-size: 2.4rem;
    }
}
@media (min-width: 1200px){
    .about, .Trabalho{
        padding: 0;
    }
    .card1, .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45%;
        border-radius: 1rem;
        font-size: 1.5rem;
        background-color: rgba(255, 255, 255, 0.3);
        border: #000 solid 0.2rem;
        scroll-snap-align: center; /* Ensure cards snap to the center */
        flex: 0 0 45%; /* Each card takes full width of the container */
    }
    .card1_image, .card2_image{
        border-radius: 30px;
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
    }
    .card1{
        margin-left: 2rem;
    }
    .card2{
        margin-right: 2rem;
    }
    .card-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
    }

.card1-text, .card2-text{
    font-size: 2rem;
}
    .dot-container{
        display: none;
    }
}

