html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100%;
    background-color: #C6D8D3;
    color: #000;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}
#home {
    scroll-margin-top: 4.2rem; /* Offset the scroll position by the height of the navbar */
}
.main-container{
    margin: 0 auto;
    margin-top: 4.2rem;
    padding: 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000vh;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 1); ;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 100;
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.navbar.scrolled {
    opacity: 0.6; /* Reduce opacity when scrolled */
}

.navbar-title{
    font-size: 1rem;
}   
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-right: 1rem;
}
.navbar ul li{
    display: inline-block;
    margin: 0 1rem;
    font-size: 1rem; ;
}  
.navbar ul li a {
    text-decoration: none;
    color: #000; ;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 2.4rem;
    background-image: url("images/profile.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 12rem;
}
.home-title{
    display: flex;
    width: 100%;;
    flex-direction: column;
    font-size: 4rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.about, .Trabalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    margin: 1rem;
    border-radius: 1rem;
    border: #000 solid 0.2rem;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 2.4rem;
    margin-bottom: 25vh;
    margin-top: 25vh;
}
.about-hr, .trabalho-hr{
    width: 90%;
    height: 0.2rem;
    background-color: #000;
}
.about-title, .Trabalho-title{
    font-size: 4rem;
}
.about-content, .Trabalho-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.about-text, .Trabalho-text{
    padding-left: 1rem;
    text-align: justify;
    padding-right: 1rem;
}
.home_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about_image, .Trabalho_image{
    height: auto;
    width: 40%;
    object-fit: cover;
}

/* Adjust layout for phone mode */
@media (max-width: 925px) {
    .about-content, .Trabalho-content{
        flex-direction: column;
        align-self: center;
    }
    .about_image, .Trabalho_image{
        width: 100% !important;
        height: auto;
    }
    .Trabalho_image {
        order: -1; /* Move the image to the top */
    }
}
@media (max-width: 520px){
    .navbar ul{
        display: none;
    }
    .about, .Trabalho{
        width: 90%;
    }
    .about-text, .Trabalho-text{ 
        font-size: 1.5rem !important;
    }
}
@media(max-width:1200px){
    .about_image, .Trabalho_image{
        width: 30%;
    }
}

@media (max-width: 1350px) {
    .home-title{
        font-size: 2rem !important;
    }
    .about-text, .Trabalho-text{ 
        font-size: 2rem;
    }
    .about-title, .Trabalho-title{
        font-size: 2.4rem !important;
    }
}

